#comment-form {
    background-color:aliceblue;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 20px;
    max-width: 500px;
    width: 100%;
}

#comment-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#comment-form input,
#comment-form textarea {
    width: calc(100%-20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

#comment-form button[type="submit"] {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#comment-form button[type="submit"]:hover {
    background-color: #005f5f;
}
@media (max-width: 600px) {
    #comment-form {
        padding: 10px;
    }
}

#comment-form input,
comment-form textarea {
    font-size: 14px;
}

#comment-form button[type="submit"] {
    font-size: 14px;
}
