h1 {
    color: lightseagreen;
    font-size: 40px;
  }
  
  h3 {
    color: mediumslateblue;
    font-size: 40px;
  }
  
  body {
    background-color: aliceblue;
    
  }
  p {
    font-size: 30px;
    color: black;
  }
  
  